.add-product-container {
    padding: 20px;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-product-container h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.add-product-container form {
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 95%;
}

.add-product-container form label {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.add-product-container form input,
.add-product-container form textarea,
.add-product-container form select {
    /* width: 100%; */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    font-size: 16px;
}

.add-product-container form textarea {
    height: 100px;
}

.add-product-container form button {
    background-color: #ff6a00;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.add-product-container form button:hover {
    background-color: #e65c00;
}

.add-product-container .tags-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    margin-bottom: 10px;
}

.add-product-container .tags-container h3 {
    grid-column: 1 / -1; /* Hace que el título ocupe todo el ancho */
    margin-bottom: 10px;
}

.add-product-container .tag-item {
    display: flex;
    align-items: baseline;
    gap: 5px;
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.add-product-container .tag-item.selected {
    background-color: #ff6a00;
    color: #fff;
}

.add-product-container .tag-item input {
    display: none;
}

/* Estilo personalizado para el select de restaurantes */
.restaurant-select {
    appearance: none; /* Ocultar la flecha predeterminada */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    color: #333;
    cursor: pointer;
    position: relative;
}

.restaurant-select::after {
    content: '▼'; /* Flecha personalizada */
    font-size: 14px;
    color: #333;
    position: absolute;
    right: 15px;
    top: calc(50% - 7px); /* Centrado vertical */
    pointer-events: none; /* Permite clics a través de la flecha */
}

.restaurant-select option {
    padding: 10px;
    font-size: 16px;
}

/* Estilos para el área de carga de imágenes */
.image-upload-container {
    border: 2px dashed #e7e7e7;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
}

.image-upload-container:hover {
    border-color: #ff6a00;
}

.image-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.upload-instructions {
    font-size: 16px;
    color: #777;
}

.image-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    width: 100%;
}

.image-preview-wrapper {
    position: relative;
    width: 150px;
    height: 150px;
}

.image-preview-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.delete-image-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(223, 223, 223, 0.795);
    border: none;
    cursor: pointer;
    color: #000;
    font-size: 20px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

